.list{
    width: 80%;
    height: 5.5rem;
    background-color: aqua;
    margin: 2rem;
    box-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}